@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@fortawesome/fontawesome-free/css/fontawesome';
/*@import '~@fortawesome/fontawesome-free/css/regular';*/
/*@import '~@fortawesome/fontawesome-free/css/solid';*/
@import '~@fortawesome/fontawesome-free/css/brands';

@layer utilities {
    @variants responsive {
        .masonry-2 {
            column-count: 2;
            column-gap: 1.5em;
        }
        .masonry-3 {
            column-count: 3;
            column-gap: 1.5em;
        }
        .break-inside {
            break-inside: avoid;
        }
    }
}

.logo-shadow {
    text-shadow: 1px 1px black;
}
